<template>
    <main class="main">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Ciudad
                    <button type="button" class="btn btn-success" @click="abrirModal('Registrar ciudad.', 'cre')">
                        <i class="icon-plus"></i>&nbsp;Nuevo
                    </button>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" v-model="buscar" @keyup.enter="listarCiudad(1, buscar)" class="form-control" placeholder="Ciudad a buscar">
                                <button type="submit" @click="listarCiudad(1, buscar)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                &nbsp;&nbsp;
                                <button type="button" class="btn btn-success" @click="listarCiudad(1,'','')"><i class="fa fa-refresh"></i> Recargar</button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Actualizar</th>
                                <th>Ciudad</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in lista_ciudades">
                                <td width="15%">
                                    <button type="button" class="btn btn-warning btn-sm" @click="abrirModal('Actualizar ciudad', 'upd', item)">
                                        <i class="icon-pencil"></i>
                                    </button>
                                </td>
                                <td v-text="item.ciudad">  </td>  
                                <td v-text="item.estado">  </td>  
                            </tr>

                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination">
                            <li class="page-item" v-if="paginacion.pagina_actual > 1">
                                <a class="page-link" href="#" @click.prevent="cambiarPagina(paginacion.pagina_actual - 1, buscar)">Ant</a>
                            </li>
                            <li class="page-item" v-for="pagina in numeroPaginas" :class="[pagina == paginaActiva ? 'active' : '']">
                                <a class="page-link" href="#" @click.prevent="cambiarPagina(pagina, buscar)" v-text="pagina"></a>
                            </li>
                            <li class="page-item" v-if="paginacion.pagina_actual < paginacion.ultima_pagina">
                                <a class="page-link" href="#" @click.prevent="cambiarPagina(paginacion.pagina_actual + 1, buscar)">Sig</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" :class="{'mostrar':modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-primary modal-lg" role="document">
                <div class="modal-content" style="position: absolute; width: 100%">
                    <div class="modal-header">
                        <h4 class="modal-title" v-text="titulo_modal">  </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="cerrarModal()">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="text-input">Nombre:</label>
                            <div class="col-md-9">
                                <input type="text" v-model="nombre" id="nombre" name="nombre" class="form-control" placeholder="Nombre de la ciudad">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="text-input">Estado:</label>
                            <div class="col-md-9">
                                
                                <select class="form-control" v-model="id_estado">
                                    <option value="0">Selecciona estado</option>
                                    <option v-for="item in lista_estados" v-text="item.nombre" :value="item.id"></option>
                                </select>

                            </div>
                        </div>
                        <div v-show="error" class="form-group row div-error">
                            <div class="text-center text-error">
                                <div v-if="error==1" v-for="item in errores" class="text-center text-error">
                                    <span class="help-block error" v-text="item"></span>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="cerrarModal()">Cerrar</button>
                        <button type="button" class="btn btn-primary" v-if="accion==1" @click="registrar()">Registrar</button>
                        <button type="button" class="btn btn-primary" v-if="accion==2" @click="actualizar()">Actualizar</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    export default {
        data() {
            return {
                id: 0,
                id_estado: 0,
                lista_ciudades: [],
                lista_estados: [],
                buscar: '',
                paginacion: {
                    'total': 0,
                    'pagina_actual': 0,
                    'por_pagina': 0,
                    'ultima_pagina': 0,
                    'desde': 0,
                    'hasta': 0
                },
                offset: 3,
                titulo_modal: '',
                modal: 0,
                error: 0,
                errores: [],
                nombre: '',
                accion: 0
            }
        },
        computed: {
            paginaActiva: function() {
                return this.paginacion.pagina_actual;
            },
            numeroPaginas: function() {
                if(!this.paginacion.hasta) return [];
                var desde = this.paginacion.pagina_actual - this.offset;
                if(desde < 1)  desde = 1;
                var hasta = desde + (this.offset * 2);
                if(hasta >= this.paginacion.ultima_pagina) hasta = this.paginacion.ultima_pagina;
                var paginas_arreglo = [];
                while(desde <= hasta) {
                    paginas_arreglo.push(desde);
                    desde++;
                }
                return paginas_arreglo;
            }
        },
        methods: {
            cambiarPagina(pagina, buscar) {
                this.paginacion.pagina_actual = pagina;
                this.listarCiudad(pagina, buscar);
            },
            listarCiudad(pagina, buscar) {
                let me = this;
                axios.get( '/ciudad?page=' + pagina + '&buscar=' + buscar )
                    .then( function(res){
                        me.lista_ciudades = res.data.ciudades.data;
                        me.paginacion = res.data.paginacion;
                    } )
                    .catch( function(error){
                        console.log(error);
                    } )
            },
            validar() {
                let me = this;
                me.error = 0;
                me.errores = [];
                if(!me.nombre) {
                    me.error = 1;
                    me.errores.push('(*) Ingrese el nombre de la ciudad');
                }
                if(me.id_estado == 0) {
                    me.error = 1;
                    me.errores.push('(*) Selecciona el estado');
                }
                return me.error == 1 ? false : true;
            },

            registrar() {
                let me = this;
                if( me.validar() ) {
                    axios.post('/ciudad', {
                            'nombre': me.nombre,
                            'id_estado': me.id_estado,
                        } )
                        .then( function(res){
                            me.cerrarModal();
                            swal({ type: 'success', title: 'El registro se ha guardado!', showConfirmButton: false, timer: 1500 })
                            me.listarCiudad( 1, me.buscar );
                        } )
                        .catch( function(error){
                            console.log('Error: ' + error)
                        } )
                }
            },
            actualizar() {
                let me = this;
                if( me.validar() ) {
                    axios.put('/ciudad/' + me.id, {
                        'id': me.id,
                        'nombre': me.nombre,
                        'id_estado': me.id_estado,
                    })
                    .then( function(res){
                        me.cerrarModal();
                        swal({ title: "Información", text: "El registro se ha actualizado!", icon: "success", button: "Aceptar", });
                        me.listarCiudad( 1, me.buscar );
                    } )
                    .catch( function(error){
                        console.log('Error: ' + error)
                    } );
                }
            },
            listarEstado() {
                let me = this;
                axios.get( '/estados' )
                    .then( function(res){
                        me.lista_estados = res.data.estados;
                    } )
                    .catch( function(error){
                        console.log(error);
                    } )
            },
            abrirModal(titulo, accion, data=[]){
                this.titulo_modal = titulo;
                this.listarEstado();
                if(accion == 'cre') {
                    this.modal = 1;
                    this.accion = 1;
                }
                else if(accion == 'upd'){
                    this.modal = 1;
                    this.accion = 2;
                    this.id = data.id_ciudad;
                    this.nombre = data.ciudad;
                    this.id_estado = data.id_estado;
                }
            },
            cerrarModal() {
                this.id = 0;
                this.id_estado = 0;
                this.modal = 0;
                this.titulo_modal = '';
                this.nombre = '';
                this.error = 0;
                this.accion = 0;
                this.lista_estados = [];
            },
        },
        mounted() {
            console.log('Componente Ciudad mounted.')
            this.listarCiudad( 1, this.buscar );
        }
    }
</script>
<style>
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: absolute !important;
        background-color: #3c29297a !important;
    }
    .error{
        text-align: center;
        color: #B22305;
        font-style: oblique;
    }
    .div-error{
        display: flex;
        justify-content: center;
    }
    .text-error{
        color: red !important;
        font-weight: bold;
    }
</style>
