<template>
    <main class="main">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Consulta de ligas
                    <button type="button" @click="cargarPDF()" class="btn btn-info">
                        <i class="icon-doc"></i>&nbsp;Reporte PDF
                    </button>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" v-model="buscar" @keyup.enter="listarLiga(1, buscar)" class="form-control" placeholder="Liga a buscar">
                                <button type="submit" @click="listarLiga(1, buscar)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                &nbsp;&nbsp;
                                <button type="button" class="btn btn-success" @click="listarLiga(1,'','')"><i class="fa fa-refresh"></i> Recargar</button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Liga</th>
                                <th>Organizador</th>
                                <th>Ciudad</th>
                                <th>Año</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in lista_ligas">
                                <td v-text="item.liga">  </td>  
                                <td v-text="item.usuario">  </td>  
                                <td v-text="item.ciudad">  </td>  
                                <td v-text="item.anio">  </td>  
                            </tr>
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination">
                            <li class="page-item" v-if="paginacion.pagina_actual > 1">
                                <a class="page-link" href="#" @click.prevent="cambiarPagina(paginacion.pagina_actual - 1, buscar)">Ant</a>
                            </li>
                            <li class="page-item" v-for="pagina in numeroPaginas" :class="[pagina == paginaActiva ? 'active' : '']">
                                <a class="page-link" href="#" @click.prevent="cambiarPagina(pagina, buscar)" v-text="pagina"></a>
                            </li>
                            <li class="page-item" v-if="paginacion.pagina_actual < paginacion.ultima_pagina">
                                <a class="page-link" href="#" @click.prevent="cambiarPagina(paginacion.pagina_actual + 1, buscar)">Sig</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" :class="{'mostrar':modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-primary modal-lg" role="document">
                <div class="modal-content" style="position: absolute; width: 100%">
                    <div class="modal-header">
                        <h4 class="modal-title" v-text="titulo_modal">  </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="cerrarModal()">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="text-input">Liga:</label>
                            <div class="col-md-9">
                                <input type="text" v-model="liga" class="form-control" placeholder="Nombre de la liga">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="text-input">Año:</label>
                            <div class="col-md-9">
                                <input type="text" v-model="anio" class="form-control" placeholder="Año de la liga">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="text-input">Ciudad:</label>
                            <div class="col-md-9">
                                <select class="form-control" v-model="id_ciudad">
                                    <option value="0" disabled>Selecciona ciudad</option>
                                    <option v-for="ciudad in lista_ciudades" :value="ciudad.id"> {{ ciudad.nombre }} </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="text-input">Usuario:</label>
                            <div class="col-md-9">
                                <select class="form-control" v-model="id_usuario">
                                    <option value="0" disabled>Selecciona usuario</option>
                                    <option v-for="usuario in lista_usuarios" :value="usuario.id"> {{ usuario.email }} </option>
                                </select>
                            </div>
                        </div>
                        <div v-show="error" class="form-group row div-error">
                            <div class="text-center text-error">
                                <div v-if="error==1" v-for="item in errores" class="text-center text-error">
                                    <span class="help-block error" v-text="item"></span>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="cerrarModal()">Cerrar</button>
                        <button type="button" class="btn btn-primary" v-if="accion==1" @click="registrar()">Registrar</button>
                        <button type="button" class="btn btn-primary" v-if="accion==2" @click="actualizar()">Actualizar</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    export default {
        data() {
            return {
                id: 0,
                lista_ligas: [],
                lista_ciudades: [],
                lista_usuarios: [],
                buscar: '',
                paginacion: {
                    'total': 0,
                    'pagina_actual': 0,
                    'por_pagina': 0,
                    'ultima_pagina': 0,
                    'desde': 0,
                    'hasta': 0
                },
                offset: 3,
                titulo_modal: '',
                modal: 0,
                error: 0,
                errores: [],
                id_usuario: 0,
                usuario: '',
                ciudad: '',
                id_ciudad: 0,
                anio: '',
                liga: '',
                email: '',
                estado: '',
                accion: 0
            }
        },
        computed: {
            paginaActiva: function() {
                return this.paginacion.pagina_actual;
            },
            numeroPaginas: function() {
                if(!this.paginacion.hasta) return [];
                var desde = this.paginacion.pagina_actual - this.offset;
                if(desde < 1)  desde = 1;
                var hasta = desde + (this.offset * 2);
                if(hasta >= this.paginacion.ultima_pagina) hasta = this.paginacion.ultima_pagina;
                var paginas_arreglo = [];
                while(desde <= hasta) {
                    paginas_arreglo.push(desde);
                    desde++;
                }
                return paginas_arreglo;
            }
        },
        methods: {
            cambiarPagina(pagina, buscar) {
                this.paginacion.pagina_actual = pagina;
                this.listarLiga(pagina, buscar);
            },
            listarLiga(pagina, buscar) {
                let me = this;
                axios.get( '/liga?page=' + pagina + '&buscar=' + buscar )
                    .then( function(res){
                        me.lista_ligas = res.data.ligas.data;
                        me.paginacion = res.data.paginacion;
                    } )
                    .catch( function(error){
                        console.log(error);
                        console.log('error')
                    } )
            },
            cargarPDF(){
                window.open( 'http://localhost:8000/ligas/listar/pdf', '_blank' );
            },
        },
        mounted() {
            console.log('Componente Usuario mounted.')
            this.listarLiga( 1, this.buscar );
        }
    }
</script>
<style>
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: absolute !important;
        background-color: #3c29297a !important;
    }
    .error{
        text-align: center;
        color: #B22305;
        font-style: oblique;
    }
    .div-error{
        display: flex;
        justify-content: center;
    }
    .text-error{
        color: red !important;
        font-weight: bold;
    }
</style>
