<template>
    <main class="main">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Dashboard
                </div>
                
            </div>
        </div>
    </main>
</template>