<template>
    <main class="main">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Jugador
                    <button type="button" class="btn btn-success" @click="abrirModal('Registrar jugador.', 'cre')">
                        <i class="icon-plus"></i>&nbsp;Nuevo
                    </button>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" v-model="buscar" @keyup.enter="listarJugador(1, buscar)" class="form-control" placeholder="Jugador a buscar">
                                <button type="submit" @click="listarJugador(1, buscar)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                &nbsp;&nbsp;
                                <button type="button" class="btn btn-success" @click="listarJugador(1,'','')"><i class="fa fa-refresh"></i> Recargar</button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Actualizar</th>
                                <th>CURP</th>
                                <th>Nombre</th>
                                <th>Foto</th>
                                <th>Fecha de nacimiento</th>
                                <th>Sexo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in lista_jugadores">
                                <td width="15%">
                                    <button type="button" class="btn btn-warning btn-sm" @click="abrirModal('Actualizar jugador', 'upd', item)">
                                        <i class="icon-pencil"></i>
                                    </button>
                                </td>
                                <td v-text="item.curp"></td>  
                                <td v-text="item.nombre"></td>  
                                <td> 
                                    <div style="width: 100%; height: 100px;" >
                                        <img style="float: right;position: relative;left: -20%;" v-bind:src="'/images/' + item.foto" alt="Error" width="80px" > 
                                    </div>
                                </td>
                                <td v-text="item.fecha_nacimiento" v-if="item.fecha_nacimiento"></td>  
                                <td v-else>---</td>  
                                <td v-if="item.sexo == 'M'" > Masculino </td>  
                                <td v-else-if="item.sexo == 'F'" > Femenino </td>  
                                <td v-else>---</td>
                            </tr>

                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination">
                            <li class="page-item" v-if="paginacion.pagina_actual > 1">
                                <a class="page-link" href="#" @click.prevent="cambiarPagina(paginacion.pagina_actual - 1, buscar)">Ant</a>
                            </li>
                            <li class="page-item" v-for="pagina in numeroPaginas" :class="[pagina == paginaActiva ? 'active' : '']">
                                <a class="page-link" href="#" @click.prevent="cambiarPagina(pagina, buscar)" v-text="pagina"></a>
                            </li>
                            <li class="page-item" v-if="paginacion.pagina_actual < paginacion.ultima_pagina">
                                <a class="page-link" href="#" @click.prevent="cambiarPagina(paginacion.pagina_actual + 1, buscar)">Sig</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" :class="{'mostrar':modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div role="document" class="modal-dialog modal-primary modal-lg" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;" > 
                <div class="modal-content" style="width: 100%; margin-top:20%;">
                
                    <div class="modal-header">
                        <h4 class="modal-title" v-text="titulo_modal">  </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="cerrarModal()">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                <!--<form action="/jugador" enctype="multipart/form-data" method="POST">-->
                    <div class="modal-body">
                        <div class="form-group row" v-if="accion == 1">
                            <label class="col-md-3 form-control-label" for="text-input">CURP:</label>
                            <div class="col-md-9">
                                <input type="text" v-model="curp" class="form-control" placeholder="CURP del jugador">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="text-input">Nombre:</label>
                            <div class="col-md-9">
                                <input type="text" v-model="nombre" class="form-control" placeholder="Nombre completo del jugador">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="text-input">Foto:</label>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-4">                                    
                                        <input type="file" class="form-control" @change="onImageChange">
                                    </div>
                                    <div class="col-md-5" v-if="accion == 2">
                                        <div style="width: 100%; height: 100%;" v-if="accion == 2 && image == ''">
                                            <img v-bind:src="'/images/' + image_old" alt="Error" style="width: 100%; height: 100%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="text-input">Fecha de nacimiento:</label>
                            <div class="col-md-9">
                                <input type="date" v-model="fecha_nacimiento" class="form-control" placeholder="Fecha de nacimiento">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="text-input">Sexo:</label>
                            <div class="col-md-9">
                                <select class="form-control" v-model="sexo">
                                    <option value="0"> Selecciona sexo </option>
                                    <option value="M"> Masculino </option>
                                    <option value="F"> Femenino </option>
                                </select>
                            </div>
                        </div>
                        <div v-show="error" class="form-group row div-error">
                            <div class="text-center text-error">
                                <div v-if="error==1" v-for="item in errores" class="text-center text-error">
                                    <span class="help-block error" v-text="item"></span>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                <!--</form>-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="cerrarModal()">Cerrar</button>
                        <!--<input type="submit" class="btn btn-danger" v-if="accion==1" value="Registrar">-->
                        <button type="button" class="btn btn-primary" v-if="accion==1" @click="registrar()">Registrar</button>
                        <button type="button" class="btn btn-primary" v-if="accion==2" @click="actualizar()">Actualizar</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    export default {
        data() {
            return {
                lista_jugadores: [],
                buscar: '',
                paginacion: {
                    'total': 0,
                    'pagina_actual': 0,
                    'por_pagina': 0,
                    'ultima_pagina': 0,
                    'desde': 0,
                    'hasta': 0
                },
                offset: 3,
                titulo_modal: '',
                modal: 0,
                error: 0,
                errores: [],
                curp: '',
                nombre: '',
                fecha_nacimiento: '',
                image: '',
                sexo: '0',
                accion: 0,
                image_old:''
            }
        },
        computed: {
            paginaActiva: function() {
                return this.paginacion.pagina_actual;
            },
            numeroPaginas: function() {
                if(!this.paginacion.hasta) return [];
                var desde = this.paginacion.pagina_actual - this.offset;
                if(desde < 1)  desde = 1;
                var hasta = desde + (this.offset * 2);
                if(hasta >= this.paginacion.ultima_pagina) hasta = this.paginacion.ultima_pagina;
                var paginas_arreglo = [];
                while(desde <= hasta) {
                    paginas_arreglo.push(desde);
                    desde++;
                }
                return paginas_arreglo;
            }
        },
        methods: {
            onImageChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            cambiarPagina(pagina, buscar) {
                this.paginacion.pagina_actual = pagina;
                this.listarJugador(pagina, buscar);
            },
            listarJugador(pagina, buscar) {
                let me = this;
                axios.get( '/jugador?page=' + pagina + '&buscar=' + buscar )
                    .then( function(res){
                        me.lista_jugadores = res.data.jugadores.data;
                        me.paginacion = res.data.paginacion;
                    } )
                    .catch( function(error){
                        console.log(error);
                    } )
            },
            validar() {
                let me = this;
                me.error = 0;
                me.errores = [];
                if(!me.curp) {
                    me.error = 1;
                    me.errores.push('(*) Ingresa la CURP del jugador');
                }
                if(!me.nombre) {
                    me.error = 1;
                    me.errores.push('(*) Ingrese el nombre del jugador');
                }
                return me.error == 1 ? false : true;
            },
            registrar() {
                let me = this;
                if( me.validar() ) {
                    axios.post('/jugador', {
                            'curp': me.curp,
                            'nombre': me.nombre,
                            'sexo': me.sexo,
                            'fecha_nacimiento': me.fecha_nacimiento,
                            image: me.image,
                        } )
                        .then( function(res){
                            me.cerrarModal();
                            swal({ type: 'success', title: 'El registro se ha guardado!', showConfirmButton: false, timer: 1500 })
                            me.listarJugador( 1, me.buscar );
                        } )
                        .catch( function(error){
                            console.log('Error: ' + error)
                        } )
                }
            },
            actualizar() {
                let me = this;
                let valores = {};
                if( me.image != '' ){
                    valores = {
                        'curp': me.curp,
                        'nombre': me.nombre,
                        'sexo': me.sexo,
                        'fecha_nacimiento': me.fecha_nacimiento,
                        image: me.image,
                    };
                }
                else{
                    valores = {
                        'curp': me.curp,
                        'nombre': me.nombre,
                        'sexo': me.sexo,
                        'fecha_nacimiento': me.fecha_nacimiento,
                    }
                }
                if( me.validar() ) {
                    axios.put('/jugador/' + me.curp, valores)
                        .then( function(res){
                            me.cerrarModal();
                            swal({ title: "Información", text: "El registro se ha actualizado!", icon: "success", button: "Aceptar", });
                            me.listarJugador( 1, me.buscar );
                            console.log('RES')
                            console.log(res)
                        } )
                        .catch( function(error){
                            console.log('Error: ' + error)
                        } )
                }
            },
            abrirModal(titulo, accion, data=[]){
                this.titulo_modal = titulo;
                if(accion == 'cre') {
                    this.modal = 1;
                    this.accion = 1;
                }
                else if(accion == 'upd'){
                    this.modal = 1;
                    this.accion = 2;
                    this.curp = data.curp;
                    this.nombre = data.nombre;
                    this.image_old = data.foto;
                    if(data.sexo == '') this.sexo = '0';
                    else this.sexo = data.sexo;
                    this.fecha_nacimiento = data.fecha_nacimiento;
                }
            },
            cerrarModal() {
                this.modal = 0;
                this.titulo_modal = '';
                this.nombre = '';
                this.curp = '';
                this.fecha_nacimiento = '';
                this.sexo = '0';
                this.image = '';
                this.error = 0;
                this.accion = 0;
            },
        },
        mounted() {
            console.log('Componente Categoria mounted.')
            this.listarJugador( 1, this.buscar );
        }
    }
</script>
<style>
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: absolute !important;
        background-color: #3c29297a !important;
    }
    .error{
        text-align: center;
        color: #B22305;
        font-style: oblique;
    }
    .div-error{
        display: flex;
        justify-content: center;
    }
    .text-error{
        color: red !important;
        font-weight: bold;
    }
</style>
