<template>
    <footer class="app-footer">
        <span><a href="">Instituto Tecnológico de Chipancingo</a> &copy; 2018</span>
        <span class="ml-auto">Desarrollado por <a href="">Ricardo Flores</a></span>
    </footer>
</template>
