<template>
    <main class="main">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Usuario
                    <button type="button" class="btn btn-success" @click="abrirModal('Registrar usuario.', 'cre')">
                        <i class="icon-plus"></i>&nbsp;Nuevo
                    </button>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" v-model="buscar" @keyup.enter="listarUsuario(1, buscar)" class="form-control" placeholder="Email a buscar">
                                <button type="submit" @click="listarUsuario(1, buscar)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                &nbsp;&nbsp;
                                <button type="button" class="btn btn-success" @click="listarUsuario(1,'','')"><i class="fa fa-refresh"></i> Recargar</button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Opciones</th>
                                <th>Usuario</th>
                                <th>Email</th>
                                <th>Rol</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in lista_usuarios">
                                <td width="15%">
                                    <button type="button" class="btn btn-warning btn-sm" @click="abrirModal('Actualizar usuario', 'upd', item)">
                                        <i class="icon-pencil"></i>
                                    </button>
                                    <template v-if="item.estado">
                                        <button type="button" class="btn btn-danger btn-sm" @click="activar(item.id, item.estado)">
                                            <i class="icon-trash"></i>
                                        </button>
                                    </template>
                                    <template v-else>
                                        <button type="button" class="btn btn-success btn-sm" @click="activar(item.id, item.estado)">
                                            <i class="icon-check"></i>
                                        </button>
                                    </template>
                                </td>
                                <td v-text="item.usuario">  </td>  
                                <td v-text="item.email">  </td>  
                                <td v-text="item.rol">  </td>  
                                <td v-if="item.estado">
                                    <span class="badge badge-success">Alta</span>
                                </td>
                                <td v-else>
                                    <span class="badge badge-warning">Baja</span>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination">
                            <li class="page-item" v-if="paginacion.pagina_actual > 1">
                                <a class="page-link" href="#" @click.prevent="cambiarPagina(paginacion.pagina_actual - 1, buscar)">Ant</a>
                            </li>
                            <li class="page-item" v-for="pagina in numeroPaginas" :class="[pagina == paginaActiva ? 'active' : '']">
                                <a class="page-link" href="#" @click.prevent="cambiarPagina(pagina, buscar)" v-text="pagina"></a>
                            </li>
                            <li class="page-item" v-if="paginacion.pagina_actual < paginacion.ultima_pagina">
                                <a class="page-link" href="#" @click.prevent="cambiarPagina(paginacion.pagina_actual + 1, buscar)">Sig</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" :class="{'mostrar':modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-primary modal-lg" role="document">
                <div class="modal-content" style="position: absolute; width: 100%">
                    <div class="modal-header">
                        <h4 class="modal-title" v-text="titulo_modal">  </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="cerrarModal()">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="text-input">Usuario:</label>
                            <div class="col-md-9">
                                <input type="text" v-model="usuario" class="form-control" placeholder="Nombre del usuario">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="text-input">Email:</label>
                            <div class="col-md-9">
                                <input type="text" v-model="email" class="form-control" placeholder="Email del usuario">
                            </div>
                        </div>
                        <div class="form-group row" v-if="accion == 1">
                            <label class="col-md-3 form-control-label" for="text-input">Contraseña:</label>
                            <div class="col-md-9">
                                <input type="text" v-model="password" class="form-control" placeholder="Contraseña">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="text-input">Rol</label>
                            <div class="col-md-9">
                                <select class="form-control" v-model="rol">
                                    <option value="0" disabled>Selecciona rol</option>
                                    <option v-for="rol in lista_rol" :value="rol.id"> {{ rol.nombre.toUpperCase() }} </option>
                                </select>
                            </div>
                        </div>
                        <div v-show="error" class="form-group row div-error">
                            <div class="text-center text-error">
                                <div v-if="error==1" v-for="item in errores" class="text-center text-error">
                                    <span class="help-block error" v-text="item"></span>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="cerrarModal()">Cerrar</button>
                        <button type="button" class="btn btn-primary" v-if="accion==1" @click="registrar()">Registrar</button>
                        <button type="button" class="btn btn-primary" v-if="accion==2" @click="actualizar()">Actualizar</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    export default {
        data() {
            return {
                id: 0,
                lista_usuarios: [],
                lista_rol: [],
                buscar: '',
                paginacion: {
                    'total': 0,
                    'pagina_actual': 0,
                    'por_pagina': 0,
                    'ultima_pagina': 0,
                    'desde': 0,
                    'hasta': 0
                },
                offset: 3,
                titulo_modal: '',
                modal: 0,
                error: 0,
                errores: [],
                usuario: '',
                email: '',
                password: '',
                rol: 0,
                estado: '',
                accion: 0
            }
        },
        computed: {
            paginaActiva: function() {
                return this.paginacion.pagina_actual;
            },
            numeroPaginas: function() {
                if(!this.paginacion.hasta) return [];
                var desde = this.paginacion.pagina_actual - this.offset;
                if(desde < 1)  desde = 1;
                var hasta = desde + (this.offset * 2);
                if(hasta >= this.paginacion.ultima_pagina) hasta = this.paginacion.ultima_pagina;
                var paginas_arreglo = [];
                while(desde <= hasta) {
                    paginas_arreglo.push(desde);
                    desde++;
                }
                return paginas_arreglo;
            }
        },
        methods: {
            cambiarPagina(pagina, buscar) {
                this.paginacion.pagina_actual = pagina;
                this.listarUsuario(pagina, buscar);
            },
            listarUsuario(pagina, buscar) {
                let me = this;
                axios.get( '/usuario?page=' + pagina + '&buscar=' + buscar )
                    .then( function(res){
                        me.lista_usuarios = res.data.usuarios.data;
                        me.paginacion = res.data.paginacion;
                    } )
                    .catch( function(error){
                        console.log(error);
                        console.log('error')
                    } )
            },
            validar() {
                let me = this;
                me.error = 0;
                me.errores = [];
                if(!me.usuario) {
                    me.error = 1;
                    me.errores.push('(*) Ingrese el nombre del usuario');
                }
                return me.error == 1 ? false : true;
            },
            getListaRol() {
                let me = this;
                axios.get( '/roles' )
                    .then( function(res){
                        me.lista_rol = res.data.roles;
                    } )
                    .catch( function(error){
                        console.log(error);
                    } )
            },
            registrar() {
                let me = this;
                if( me.validar() ) {
                    axios.post('/usuario', {
                            'usuario': me.usuario,
                            'email': me.email,
                            'password': me.password,
                            'id_rol': me.rol,
                        } )
                        .then( function(res){
                            me.cerrarModal();
                            swal({ type: 'success', title: 'El registro se ha guardado!', showConfirmButton: false, timer: 1500 })
                            me.listarUsuario( 1, me.buscar );
                        } )
                        .catch( function(error){
                            console.log('Error: ' + error)
                        } )
                }
            },
            actualizar() {
                let me = this;
                if( me.validar() ) {
                    axios.put('/usuario/' + me.id, {
                        'id': me.id,
                        'usuario': me.usuario,
                        'email': me.email,
                        'id_rol': me.rol,
                    })
                    .then( function(res){
                        me.cerrarModal();
                        swal({ title: "Información", text: "El registro se ha actualizado!", icon: "success", button: "Aceptar", });
                        me.listarCategoria( 1, me.buscar );
                    } )
                    .catch( function(error){
                        console.log('Error: ' + error)
                    } );
                }
            },
            abrirModal(titulo, accion, data=[]){
                this.titulo_modal = titulo;
                this.getListaRol();
                if(accion == 'cre') {
                    this.modal = 1;
                    this.accion = 1;
                }
                else if(accion == 'upd'){
                    this.modal = 1;
                    this.accion = 2;
                    this.id = data.id;
                    this.usuario = data.usuario;
                    this.email = data.email;
                    this.rol = data.id_rol;
                }
            },
            cerrarModal() {
                this.id = 0;
                this.modal = 0;
                this.titulo_modal = '';
                this.usuario = '';
                this.password = '';
                this.rol = 0;
                this.email = '';
                this.listarUsuario( 1, this.buscar );
            },
            activar(id, estado) {
                const swalWithBootstrapButtons = swal.mixin({
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false,
                })
                let titulo = estado == 0 ? 'Dar de alta este usuario?' : 'Dar de baja este usuario?';
                let mensaje = estado == 0 ? 'Registro dado de alta' : 'Registro dado de baja';
                let url = estado == 0 ? '/usuario/activar/id' : '/usuario/desactivar/id';
                
                swalWithBootstrapButtons({
                    title: titulo,
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Aceptar',
                    cancelButtonText: 'Cancelar',
                    reverseButtons: true
                    }).then((result) => {
                    if (result.value) {
                        let me = this;
                        axios.put( url , {
                            'id': id
                        })
                        .then( function(res){
                            me.listarUsuario( 1, me.buscar );
                            swal({
                                type: 'success',
                                title: mensaje,
                                showConfirmButton: false,
                                timer: 1300
                            })
                        } )
                        .catch( function(error){;
                            console.log(error);
                        } )
                    } else if (
                        result.dismiss === swal.DismissReason.cancel
                    ) { }
                })
            },
        },
        mounted() {
            console.log('Componente Usuario mounted.')
            this.listarUsuario( 1, this.buscar );
        }
    }
</script>
<style>
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: absolute !important;
        background-color: #3c29297a !important;
    }
    .error{
        text-align: center;
        color: #B22305;
        font-style: oblique;
    }
    .div-error{
        display: flex;
        justify-content: center;
    }
    .text-error{
        color: red !important;
        font-weight: bold;
    }
</style>
